.header {
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
  position: relative;
  z-index: 2;
}
.header__img {
  height: 36px;
  padding-top: 8px;
}
.header__link {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__arrow {
  color: #353535;
}

.location {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  position: relative;
  z-index: 1;
}
.location__logo {
  width: 12px;
  height: 16px;
}
.location__text {
  margin-left: 17px;
}

.footer {
  color: #FFFFFF;
  background-color: #353535;
  padding: 22px 25px;
}
.footer__img {
  width: 120px;
  height: 27px;
  margin-bottom: 9px;
  filter: invert(99%) sepia(0%) saturate(0%) hue-rotate(225deg) brightness(108%) contrast(100%);
}
.footer__text {
  margin-top: 7px;
}
.footer__logo {
  font-size: 13px;
  width: 17px;
}

.button {
  padding: 13px 19px;
  border-radius: 25px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  background: linear-gradient(-3.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  font-size: 16px;
  font-weight: 500;
  color: #FFFFFF;
  opacity: 1;
  transition: opacity 150ms ease-in-out, box-shadow 150ms ease-in-out;
}
.button:hover {
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.3490196078);
  opacity: 0.85;
}

.like {
  cursor: pointer;
}
.like__checkbox {
  display: none;
}
.like__checkbox:checked ~ .like__heart {
  opacity: 0;
}
.like__checkbox:checked ~ .like__heart--purple {
  opacity: 1;
}
.like__heart {
  z-index: 2;
  position: absolute;
  right: 25px;
  bottom: 40px;
  transition: opacity 300ms;
}
.like__heart--purple {
  z-index: 1;
  position: absolute;
  right: 25px;
  bottom: 40px;
  opacity: 0;
  transition: opacity 300ms;
}
.like__heart--purple::before {
  color: transparent;
  position: relative;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
}

/* Loader */
.load-container {
  animation: loading-hidden 0ms both 1480ms;
}

.loader {
  position: absolute;
  top: 48vh;
  left: 48vw;
}
.loader__logo {
  font-size: 50px;
  color: #9356DC;
  animation: loading-animation 1500ms both;
}

/* Discovery */
.discovery {
  padding: 39px 0 60px 0;
  text-align: center;
  background-color: #F6F6F6;
}
.discovery__title {
  width: 70%;
  margin: 0 auto 10px auto;
}
.discovery__text {
  font-size: 18px;
  font-weight: 300;
  margin: 0 8px 40px 8px;
}

/* Steps */
.steps {
  list-style-position: inside;
  margin: 0 auto;
  padding: 48px 20px 68px 20px;
}
.steps__list {
  color: #FFFFFF;
  list-style-type: none;
}
.steps__content {
  color: #222222;
  padding: 28px 28px 28px 0;
  margin-top: 25px;
  border-radius: 20px;
  background-color: #F6F6F6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  display: flex;
  align-items: center;
}
.steps__number {
  display: inline-block;
  position: relative;
  right: 10px;
  width: 24px;
  height: 24px;
  margin-right: 12px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  background-color: #9356DC;
  border-radius: 50%;
}
.steps__logo {
  font-size: 18px;
  margin-right: 18px;
  color: #7E7E7E;
}
.steps__logo--purple {
  font-size: 18px;
  margin-right: 18px;
  color: #9356DC;
}

/* Restaurants */
.restaurants {
  padding: 54px 20px 66px 20px;
  background-color: #F6F6F6;
}
.restaurants__title {
  margin-bottom: 20px;
}

.card {
  position: relative;
  height: 251px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1019607843);
  border-radius: 15px;
  margin-top: 18px;
}
.card__content {
  width: 100%;
  height: 100%;
}
.card__img {
  width: 100%;
  height: 174px;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}
.card__new {
  padding: 7px 9px;
  font-size: 14px;
  font-weight: 500;
  color: #008766;
  background-color: #99E2D0;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
  z-index: 2;
  position: absolute;
  top: 15px;
  right: 15px;
}
.card__title {
  font-size: 18px;
  font-weight: 700;
  margin: 12px 0 0 13px;
}
.card__subtitle {
  font-size: 17px;
  font-weight: 300;
  margin: 5px 0 0 13px;
}

.background-image {
  width: 100%;
  height: 275px;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}

/* Menu */
.menu {
  position: relative;
  top: 220px;
  margin-bottom: 220px;
  padding: 32px 13px 40px 13px;
  border-radius: 45px 45px 0 0;
  background-color: #F6F6F6;
  overflow: hidden;
}
.menu__title {
  font-family: "Shrikhand", sans-serif;
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 40px;
  margin-left: 5px;
}
.menu__button {
  margin: 40px auto 0 auto;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__button .button {
  width: 186px;
  padding: 13px 50px;
}
.menu .like {
  width: 34px;
  position: absolute;
  top: 35px;
  right: 35px;
  margin-left: 24px;
}
.menu .like__heart {
  position: static;
}
.menu .like__heart--purple {
  position: absolute;
  bottom: 4px;
  right: 4px;
}

/* Category */
.category__title {
  font-size: 16px;
  font-weight: 300;
  margin-top: 40px;
}
.category__bar {
  width: 40px;
  border-bottom: 3px solid #99E2D0;
  margin-top: 3px;
}

/* Food */
.food {
  position: relative;
  padding: 15px;
  margin-top: 12px;
  border-radius: 15px;
  background-color: #FFFFFF;
  box-shadow: 0px 4.01px 15.04px 0px rgba(0, 0, 0, 0.1019607843);
  overflow: hidden;
  animation: food-slide 265ms cubic-bezier(0, 0.8, 0.37, 0.75) both;
}
.food--1 {
  animation-delay: 265ms;
}
.food--2 {
  animation-delay: 530ms;
}
.food--3 {
  animation-delay: 795ms;
}
.food--4 {
  animation-delay: 1060ms;
}
.food--5 {
  animation-delay: 1325ms;
}
.food--6 {
  animation-delay: 1590ms;
}
.food--7 {
  animation-delay: 1855ms;
}
.food--8 {
  animation-delay: 2120ms;
}
.food--9 {
  animation-delay: 2385ms;
}
.food--10 {
  animation-delay: 2650ms;
}
.food__checkbox {
  display: none;
}
.food__checkbox:checked ~ .food__slider {
  transform: translateX(-59px);
}
.food__checkbox:checked ~ .food__price {
  transform: translateX(-59px);
}
.food__checkbox:checked ~ .food__title {
  width: 68%;
}
.food__checkbox:checked ~ .food__description {
  width: 68%;
}
.food__label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.food__title {
  font-size: 18px;
  font-weight: 500;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: width 300ms 100ms;
}
.food__description {
  font-size: 15px;
  font-weight: 300;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: width 300ms 100ms;
}
.food__price {
  font-size: 15px;
  font-weight: 700;
  color: #353535;
  position: absolute;
  bottom: 15px;
  right: 15px;
  transition: transform 300ms ease-in-out;
  transform-origin: right;
}
.food__slider {
  position: absolute;
  right: 0;
  top: 0;
  width: 59px;
  height: 100%;
  margin-right: -59px;
  border-radius: 0 15px 15px 0;
  background-color: #99E2D0;
  transition: transform 300ms ease-in-out;
  transform-origin: right;
  display: flex;
  justify-content: center;
  align-items: center;
}
.food__checkmark {
  width: 20px;
  height: 20px;
  color: #99E2D0;
  background-color: #FFFFFF;
  border-radius: 20px;
  text-align: center;
  line-height: 20px !important;
}

@media (min-width: 1440px) {
  .header {
    height: 96px;
    box-shadow: none;
  }
  .header__link {
    top: 36%;
  }
  .location {
    box-shadow: none;
  }
  .discovery__title {
    font-size: 40px;
  }
  .steps {
    width: 75%;
    padding: 50px 0;
  }
  .steps__list {
    display: flex;
  }
  .steps__content + .steps__content {
    margin-left: 30px;
  }
  .steps__content {
    width: 100%;
  }
  .restaurants {
    padding: 30px 0;
  }
  .restaurants__title, .restaurants__content {
    width: 75%;
    margin: 0 auto;
  }
  .restaurants__title {
    margin-bottom: 30px;
  }
  .restaurants__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
  }
  .card {
    margin-top: 0;
    width: 46%;
  }
  .background-image {
    height: 383px;
  }
  .menu {
    width: 72%;
    margin: 0 auto 338px auto;
    top: 338px;
  }
  .menu__title {
    width: 62%;
    margin: 0 auto;
    text-align: center;
    margin-top: 19px;
  }
  .menu .like {
    display: inline-flex;
    position: static;
    margin-left: 24px;
  }
  .menu .like__heart--purple {
    position: relative;
    bottom: 0;
    right: 28px;
  }
  .category {
    width: 62%;
    margin: 0 auto;
  }
  .footer {
    display: flex;
    justify-content: right;
    align-items: flex-end;
    padding: 64px 0 31px 0;
  }
  .footer__text, .footer__link {
    margin-left: 18px;
    margin-top: 0;
  }
  .footer__text:nth-of-type(3) {
    margin-left: 40px;
  }
  .footer__link {
    font-size: 16px;
    font-weight: 500;
  }
  .footer__img {
    order: 5;
    margin: 0 35px 0 60px;
  }
}
@media (max-width: 350px) {
  .menu__title {
    font-size: 25px;
  }
  .menu .like__heart--purple {
    right: 25px;
  }
}
@keyframes food-slide {
  from {
    transform: translateX(150%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes loading-hidden {
  from {
    transform: translateX(9999px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes loading-animation {
  0% {
    transform: rotate(0);
  }
  98% {
    transform: rotate(2turn);
  }
  99% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(9999px);
  }
}
*, *::after, *::before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

* {
  font-family: "Roboto", sans-serif;
}

body {
  width: 100%;
  height: auto;
  overflow-x: hidden;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

p {
  font-size: 16px;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: inherit;
}

/*# sourceMappingURL=main.css.map */
