*, *::after, *::before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

* {
  font-family: "Roboto", sans-serif;
}

body {
  width: 100%;
  height: auto;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

p {
  font-size: 16px;
  font-weight: 500;
}

/*#region Header and location */
.header {
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
  position: relative;
  z-index: 2;
}
.header__img {
  height: 36px;
  padding-top: 8px;
}

.location {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  position: relative;
  z-index: 1;
}
.location__logo {
  width: 12px;
  height: 16px;
}
.location__text {
  margin-left: 17px;
}

/*#endregion */
/*#region Discovery section */
.discovery {
  padding: 39px 0 57px 0;
  text-align: center;
  background-color: #F6F6F6;
}
.discovery__title {
  width: 70%;
  margin: 0 auto 10px auto;
}
.discovery__text {
  font-size: 18px;
  font-weight: 300;
  margin: 0 8px 27px 8px;
}
.discovery__btn {
  width: 218px;
  height: 50px;
  border-radius: 25px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  background: linear-gradient(-3.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  font-size: 16px;
  font-weight: 500;
  color: #FFFFFF;
}

/*#endregion */
/*#region Steps section */
.steps {
  list-style-position: inside;
  margin: 0 auto;
  padding: 48px 20px 68px 20px;
}
.steps__list {
  color: #FFFFFF;
  list-style-type: none;
}
.steps__content {
  color: #222222;
  max-width: 335px;
  padding: 28px 28px 28px 0;
  margin-top: 25px;
  border-radius: 20px;
  background-color: #F6F6F6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  display: flex;
  align-items: center;
}
.steps__number {
  display: inline-block;
  position: relative;
  right: 10px;
  width: 24px;
  height: 24px;
  margin-right: 12px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  background-color: #9356DC;
  border-radius: 50%;
}
.steps__logo {
  font-size: 18px;
  margin-right: 18px;
  color: #7E7E7E;
  line-height: px;
}
.steps__logo--purple {
  font-size: 18px;
  margin-right: 18px;
  color: #9356DC;
}

/*#endregion */
/*#region Restaurants */
.restaurants {
  padding: 54px 20px 66px 20px;
  background-color: #F6F6F6;
}
.restaurants__title {
  margin-bottom: 20px;
}

.card {
  height: 251px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1019607843);
  border-radius: 15px;
  margin-top: 18px;
}
.card__img {
  width: 100%;
  height: 174px;
  border-radius: 15px 15px 0 0;
}
.card__new {
  width: 80px;
  height: 29px;
  padding: 7px 9px;
  font-size: 14px;
  font-weight: 500;
  color: #008766;
  background-color: #99E2D0;
  position: relative;
  bottom: 88%;
  left: 64%;
  z-index: 2;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
}
.card__title {
  font-size: 18px;
  font-weight: 700;
  margin: 12px 0 0 13px;
}
.card__subtitle {
  font-size: 17px;
  font-weight: 300;
  margin: 5px 0 0 13px;
}
.card__favorite {
  position: relative;
  left: 85%;
  bottom: 16%;
}
.card__favorite--purple {
  position: relative;
  left: 85%;
  bottom: 16%;
  fill: red;
}

/*#endregion */
/*#region Footer */
.footer {
  color: #FFFFFF;
  background-color: #353535;
  padding: 22px 25px;
}
.footer__img {
  width: 120px;
  height: 27px;
  margin-bottom: 9px;
  filter: invert(99%) sepia(0%) saturate(0%) hue-rotate(225deg) brightness(108%) contrast(100%);
}
.footer__text {
  margin-top: 7px;
}
.footer__logo {
  width: 20px;
}

/*#endregion */

/*# sourceMappingURL=styles.css.map */
