@use './partials/variables';
@use './partials/header';
@use './partials/footer';
@use './partials/components';
@use './partials/landing-page';
@use './partials/menu-page';
@use './partials/media-queries';
@use './partials/animations';

*, *::after, *::before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

* {
    font-family: "Roboto", sans-serif;
}

body {
    width: 100%;
    height: auto;
    overflow-x: hidden;
}

h2 {
    font-size: 24px;
    font-weight: 700;
}

p {
    font-size: 16px;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: inherit;
}