@media (min-width: 1440px) {
    .header {
        height: 96px;
        box-shadow: none;
        &__link {
            top: 36%;
        }
    }

    .location {
        box-shadow: none;
    }

    .discovery__title {
        font-size: 40px;
    }

    .steps {
        width: 75%;
        padding: 50px 0;
        &__list {
            display: flex;
        }
        &__content + &__content {
            margin-left: 30px;
        }
        &__content {
            width: 100%;
        }
    }

    .restaurants {
        padding: 30px 0;
        &__title, &__content {
            width: 75%;
            margin: 0 auto;
        }
        &__title {
            margin-bottom: 30px;
        }
        &__content {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 50px;
        }
    }

    .card {
        margin-top: 0;
        width: 46%;
    }

    .background-image {
        height: 383px;
    }

    .menu {
        width: 72%;
        margin: 0 auto 338px auto;
        top: 338px;
        &__title {
            width: 62%;
            margin: 0 auto;
            text-align: center;
            margin-top: 19px;
        }
        .like {
            display: inline-flex;
            position: static;
            margin-left: 24px;
            &__heart--purple {
                position: relative;
                bottom: 0;
                right: 28px;
            }
        }
    }

    .category {
        width: 62%;
        margin: 0 auto;
    }

    .footer {
        display: flex;
        justify-content: right;
        align-items: flex-end;
        padding: 64px 0 31px 0;
        &__text, &__link {
            margin-left: 40px;
            margin-top: 0;
        }
        &__link {
            font-size: 16px;
            font-weight: 500;
        }
        &__img {
            order: 5;
            margin: 0 35px 0 60px;
        }
    }
}

@media (max-width: 350px) {
    .menu__title {
        font-size: 25px;
    }
    .menu .like__heart--purple {
        right: 25px;
    }
}