// Colors
$location-background: #EAEAEA;
$light-gray-background: #F6F6F6;
$footer-background: #353535;
$white: #FFFFFF;
$black: #222222;
$main-color: #9356DC;
$gray: #7E7E7E;
$green: #99E2D0;

// Animation variable
$food-delay: 265ms;
$food-max: 10;